[submodule "Packages/com.realitytoolkit.core"]
	path = Packages/com.realitytoolkit.core
	url = https://github.com/realitycollective/com.realitytoolkit.core.git
[submodule "Packages/com.realitytoolkit.spatial-persistence"]
	path = Packages/com.realitytoolkit.spatial-persistence
	url = https://github.com/realitycollective/com.realitytoolkit.spatial-persistence.git
[submodule "Packages/com.realitytoolkit.windows.xr"]
	path = Packages/com.realitytoolkit.windows.xr
	url = https://github.com/realitycollective/com.realitytoolkit.windows.xr.git
[submodule "Packages/com.realitytoolkit.metaplatform"]
	path = Packages/com.realitytoolkit.metaplatform
	url = https://github.com/realitycollective/com.realitytoolkit.metaplatform.git
[submodule "Packages/com.realitytoolkit.pico"]
	path = Packages/com.realitytoolkit.pico
	url = https://github.com/realitycollective/com.realitytoolkit.pico.git
[submodule "Packages/com.realitytoolkit.devtools"]
	path = Packages/com.realitytoolkit.devtools
	url = https://github.com/realitycollective/com.realitytoolkit.devtools.git
[submodule "Packages/com.realitytoolkit.buildtools"]
	path = Packages/com.realitytoolkit.buildtools
	url = https://github.com/realitycollective/com.realitytoolkit.buildtools.git
[submodule "Packages/com.realitytoolkit.devicesimulation"]
	path = Packages/com.realitytoolkit.devicesimulation
	url = https://github.com/realitycollective/com.realitytoolkit.devicesimulation.git
[submodule "Packages/com.realitytoolkit.locomotion"]
	path = Packages/com.realitytoolkit.locomotion
	url = https://github.com/realitycollective/com.realitytoolkit.locomotion.git
[submodule "Packages/com.realitytoolkit.camera"]
	path = Packages/com.realitytoolkit.camera
	url = https://github.com/realitycollective/com.realitytoolkit.camera.git
[submodule "Packages/com.realitycollective.service-framework"]
	path = Packages/com.realitycollective.service-framework
	url = https://github.com/realitycollective/com.realitycollective.service-framework.git
[submodule "Packages/com.realitycollective.utilities"]
	path = Packages/com.realitycollective.utilities
	url = https://github.com/realitycollective/com.realitycollective.utilities.git
