[submodule "Packages/com.realitytoolkit.core"]
	path = Packages/com.realitytoolkit.core
	url = https://github.com/realitycollective/com.realitytoolkit.core.git
	branch = feature/core-cleanup
[submodule "Packages/com.realitytoolkit.spatial-persistence"]
	path = Packages/com.realitytoolkit.spatial-persistence
	url = https://github.com/realitycollective/com.realitytoolkit.spatial-persistence.git
[submodule "Packages/com.realitytoolkit.windows.xr"]
	path = Packages/com.realitytoolkit.windows.xr
	url = https://github.com/realitycollective/com.realitytoolkit.windows.xr.git
[submodule "Packages/com.realitycollective.gltf"]
	path = Packages/com.realitycollective.gltf
	url = https://github.com/realitycollective/com.realitycollective.gltf.git
[submodule "Packages/com.realitytoolkit.ultraleap"]
	path = Packages/com.realitytoolkit.ultraleap
	url = https://github.com/realitycollective/com.realitytoolkit.ultraleap.git
[submodule "Packages/com.realitytoolkit.metaplatform"]
	path = Packages/com.realitytoolkit.metaplatform
	url = https://github.com/realitycollective/com.realitytoolkit.metaplatform.git
[submodule "Packages/com.realitytoolkit.pico"]
	path = Packages/com.realitytoolkit.pico
	url = https://github.com/realitycollective/com.realitytoolkit.pico.git
[submodule "Packages/com.realitytoolkit.service-framework"]
	path = Packages/com.realitytoolkit.service-framework
	url = https://github.com/realitycollective/com.realitytoolkit.service-framework.git
[submodule "Packages/com.realitytoolkit.utilities"]
	path = Packages/com.realitytoolkit.utilities
	url = https://github.com/realitycollective/com.realitytoolkit.utilities.git
[submodule "Packages/com.realitytoolkit.devtools"]
	path = Packages/com.realitytoolkit.devtools
	url = https://github.com/realitycollective/com.realitytoolkit.devtools.git
