[submodule "Packages/com.realitytoolkit.core"]
	path = Packages/com.realitytoolkit.core
	url = https://github.com/realitycollective/com.realitytoolkit.core.git
	branch = feature/core-cleanup
[submodule "Packages/com.realitytoolkit.sdk"]
	path = Packages/com.realitytoolkit.sdk
	url = https://github.com/realitycollective/com.realitytoolkit.sdk.git
